<% need_back ||= false %>
<div id="<%= dom_id post %>">
    <%if need_back %>
        <%= link_to "Back to posts", posts_path %>
        <br/><br/>
    <%end%>

    <table style="border: 1px solid;">
        <tr>
            <td><b>User:</b></td>
            <td>
                <%if @user && @user.id == post.user.id%>
                    <%= content_tag(:b, post.user.email) %>
                <%else%>
                    <%= post.user.email %>
                <%end%>
            </td>
        </tr>
        <tr>
            <td><b>Title</b></td>
            <td><%= post.title %></td>
        </tr>
        <tr>
            <td><b>Post</b></td>
            <td><%= post.body %></td>
        </tr>
        <tr>
            <% if @show_actions %>
                <td><%= link_to "Edit this post", edit_post_path(post) %></td>
                <td style="text-align: right;"><%= button_to "Destroy this post", @post, method: :delete %></td>
            <%else%>
                <td><%= link_to "Show this post", post %> </td>           
            <%end%>

        </tr>        
    <table>
</div>
